https://api.github.com/repos/offscale/offregister-python/zipball#egg=offregister_python
https://api.github.com/repos/offscale/offregister_circus/zipball#egg=offregister_circus
https://api.github.com/repos/offscale/offutils/zipball#egg=offutils
